@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
  background-color: #e8ecef;
}
body {
  background-color: #e8ecef !important;
}
html,
body {
  height: 100%;
}
body {
  font: 62.5%/1.5 "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
  color: #000000;
  text-align: center;
}

#wrapper {
  width: 980px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

/* h1 {
  font-size: 2.2em;
} */

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.4em;
}

p {
  font-size: 1em;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input.text {
  padding: 3px;
  border: 1px solid #999999;
}
input:focus {
  outline: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  text-align: left;
  font-weight: normal;
}

/* Slider CSS */
.css-17m87zz {
  width: 70% !important;
}
@media (min-width: 425px) {
  .css-17m87zz {
    width: 40% !important;
  }
}
@media (min-width: 768px) {
  .css-17m87zz {
    width: 33.3% !important;
  }
}
