.authInputContainer {
  display: block;
  text-align: left;
  margin: 22px 0;
}

.textInput {
  margin-top: 11px;
  border: 1px#E8ECEF solid;
  padding: 17px;
  width: 100%;
  font-weight: 400;
  line-height: 16.41px;
  font-size: 0.875rem;
}
select {
  color: #98a9bc;
}
::placeholder {
  color: #98a9bc;
}
label {
  margin-bottom: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 16.41px;
}
.error {
  color: red;
}

@media (min-width: 768px) {
  .authInputContainer label {
  }
}
