.authInputContainer {
  display: block;
  text-align: left;
  /* display: flex;
  flex-direction: column; */
  /* align-items: flex-start; */
  margin: 22px 0;
}
.authInputContainer label {
  /* display: flex; */
}
.textInput {
  border: 1px#E8ECEF solid;
  padding: 14px;
  width: 100%;
}
select {
  color: #98a9bc;
}
::placeholder {
  color: #98a9bc;
}
label {
  margin-bottom: 14px;
}
.error {
  color: red;
}
@media (min-width: 768px) {
  .authInputContainer {
  }
}
