.formContainer {
  margin-top: 40px;
}
.note {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  color: #98a9bc;
  margin-bottom: 50px;
}
.note p {
  opacity: 0.8;
}
.errorBox {
  display: flex;
  justify-content: center;
  margin: auto;
}
.otpError {
  width: 95%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ef4444;
  background-color: #fef2f2;
  height: 61px;
  align-items: center;
  line-height: 19px;
  color: #ef4444;
  border-radius: 10px;
  font-size: 1rem;
  padding: 0 26px;
}
.otpError button {
  color: #ef4444;
}
.buttonGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 101px 0 54px 0;
}
.proceed a {
  color: #ef4444;
}
.goBack a {
  color: black;
}
