.container {
  padding: 38px 0 0 0;
  background-color: #e8ecef;
}
.imageContainer {
  width: 40%;
  margin: auto;
  margin-bottom: 20px;
}

.button {
  margin: 22px 0 43px 0;
}

.button a {
  color: #d71e0e;
}
