.verifyContainer {
  padding: 38px 0 0 0;
}
.buttonGroup {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}
button {
  background-color: transparent;
}
.buttonGroup a {
  background-color: transparent;
}
.backButton {
  color: black;
}
.finishButton {
  color: #d71e0e;
}
.resendButton {
  margin: 0 0 71px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #98a9bc;
  opacity: 0.8;
}
